<<<<<<< HEAD
* {
  font-family: 'Helvetica';
}

.container > div {
  width: 150px;
  height: 150px;
  border-left: 1px solid black;
  border-top: 1px solid black;
  float: left;
  background-size: contain;
  background-color: #ddd;
}

.container > div:nth-child(4n) {
  border-right: 1px solid black;
}

.container > div:nth-child(n+13) {
  border-bottom: 1px solid black;
}

.container {
  width: 605px;
  height: 605px;
  margin: 20px auto;
}

#reset {
  margin: 0 auto;
  display: block;
  color: #ffffff; 
  background-color: #BF8B3D; 
  border-color: #9C791F; 
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
} 
 
#reset:hover { 
  color: #ffffff; 
  background-color: #7A3100; 
  border-color: #9C791F; 
  outline: none;
  cursor: pointer;
} 

#reset:active,
#reset:focus {
  outline: none;
}

h1 {
  text-align: center;
}

#winner {
  position: absolute;
  top: 370px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10em;
  color: yellow;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
=======
h1 {
  font-family: helvetica;
  text-align: center;
}

.container, .gameTile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  width:600px;
  margin: 0 auto;
  display: block;
}

.gameTile {
  border: 1px solid black;
  background: lightblue;
  float: left;
  height: 150px;
  width: 150px;
  position: relative;
}

.resetContainer{
  clear: both;
  text-align: center;
}

.reset {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: lightgray;
}

.reset:hover {
  cursor: pointer;
  background-color: gray;
}

.reset:active {
  outline: none;
}

/* styling for flips */

.tileFront,
.tileBack {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.6s;
          transition: transform 0.6s;
}

.tileFront {
  background-color: #lightblue;
}

.tileBack {
  background-color: #1e1e1e;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.gameTile.flipped .tileFront {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.gameTile.flipped .tileBack {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
>>>>>>> d2b1ea52e2a96039e91859e9eeddb84fcf8e4f87
}