h1 {
  font-family: helvetica;
  text-align: center;
}

.container, .gameTile {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container{
  width:600px;
  margin: 0 auto;
  display: block;
}

.gameTile {
  border: 1px solid black;
  background: lightblue;
  float: left;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.resetContainer{
  clear: both;
  text-align: center;
}

.winner {
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px #ff0000;
  background-position: center;
  background-image: url(https://media.giphy.com/media/xTcnSNxfOFmfCCUTPG/giphy.gif);
}

.winner .resetContainer {
  position: fixed;
  bottom: 50px;
  width: 100%;
}

.reset {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  background-color: lightgray;
}

.reset:hover {
  cursor: pointer;
  background-color: gray;
}

.reset:active {
  outline: none;
}
